{
  "OUTPUT_PATH": "./workloads/static/outputs",
  "HOST": "0.0.0.0",
  "PORT": 10310,
  "VIDEO_MAX_DURATION": 3600,
  "DEBUG": false,
  "LOG_LEVEL": "INFO",
  "VOICE_BACKGROUND_SEPARATION_ENDPOINT": "http://localhost:8199/audio-sep",
  "AUDIO_TRANSCRIBE_ENDPOINT": "http://localhost:8199/audio-transcribe",
  "TRANSLATION_SINGLE_REQUEST_TIMEOUT": 60,
  "TRANSLATION_BATCH_TIMEOUT": 300,
  "TRANSLATION_MAX_WORKERS": 30
}
